<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="../static/Chatbot_Design.css">
</head>

<body>
    <div id="heading">
        <p>Cancer<span>-O-</span>Bot</p>
    </div>
    <div id="first">
        <p>
            Cancer is a disease that we all should be aware of. It happens when the cells in our body start
             to grow uncontrollably, and it can be really dangerous if we don't catch it early. In fact, 
             according to the World Health Organization, about 10 million people died from cancer last year.
              It's more common in places where people don't have access to good healthcare, but it can 
              happen to anyone. There are a lot of things that can cause cancer, like smoking, drinking too
               much alcohol, being overweight, and even some genetic factors. But there are also things we 
               can do to prevent it, like eating healthy foods and exercising regularly. If we catch cancer
                early, we have a much better chance of treating it successfully.
        </p>
        <br>
        <p>
            That's why we created the Cancer-O-Bot, a fun and friendly chatbot that can help answer any
             questions you might have about cancer. It's like having a friend who knows a lot about the 
             disease and can help you understand how to prevent it and how to catch it early if it does 
             happen. Just ask the Cancer-O-Bot anything you want to know about cancer, and it will give 
             you the information you need to stay healthy and happy.
        </p>
        <button type="button" id="but" title="Talk To Cancer-O-Bot"><a href="{{url_for('Chatbot_Bot')}}" id="lin"
                target="_self">Initiate Cancer-O-Bot</a></button>
    </div>
</body>

</html>