<!doctype html>
<html>

<head>
    <title>Cancer-O-Bot</title>
    <link rel="stylesheet" href="../static/Chatbot_Design.css">
    <script src="../static/Chatbot_JS.js"></script>
</head>

<body>
    <div id="heading">
        <p>Cancer<span>-O-</span>Bot</p>
    </div>
    <div id="second">
        <div id="chat">
            {% if Length %}
            {% for i in range(0, Length) %}
            <div class="show">
                <p class="human">{{ Human[i] }}</p>
                <p class="bot">{{ Bot[i] }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div id="form">
            <form action="http://localhost:5000/Chatbot" method="post">
                <button type="submit" id="send">Send</button>
                <input type="text" name="ques" id="ques" autofocus placeholder="Ask Your Question Here">
            </form>
        </div>
    </div>
</body>

</html>